.root {
  display: flex;
  gap: 12px;
  align-items: center;
  color: var(--color-dark-700);
  @media(max-width: 768px) {
    flex-direction: column;
  }
}
.container {
  display: flex;
  gap: 12px;
  align-items: center;
}
.pageBtn {
  all: unset;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 2px;


  &.selected {
    color: var(--color-light);
    background-color: var(--color-dark-300);
  }

  &:focus {
    outline: 2px solid var(--color-active);
  }

  &:disabled {
    cursor: auto;
  }

  &:hover:not(:disabled):not(:active) {
    background-color: var(--color-dark-100);
  }

  &:active {
    background-color: var(--color-active);
  }
}

.navigationBtn {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:disabled {
    cursor: auto;
    color: var(--color-dark-100);
  }

  &:focus {
    outline: 2px solid var(--color-active);
  }
}

.dots {
  margin-bottom: 6px;
  padding: 0 8px;
}

.selectBox {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-left: 18px;
  span {
    display: block;
  }
}

select {
  color: #000;
}
